# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.ilk
*.suo
*.sdf
vc140.pdb

# Raddbg
*.rdi

# Windows build & dependencies
build/dependencies
Incursion.opensdf
Win32_Debug
Win32_Release
x64_Debug
x64_Release

# Incursion specific temporary files.
lib/program.i
