# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Windows build & dependencies
Debug
Release
allegro
_dependencies/libtcod
_dependencies/sdl2
_dependencies/google-breakpoint

# Incursion specific temporary files.
lib/dispatch.h
lib/program.i
mod/Incursion.Mod
save/*.sav
save/*.sav.backup
*.dat