# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Windows build & dependencies
Debug
Release
modaccent*.*
_dependencies
_dependencies/libtcod
_dependencies/sdl2
_dependencies/google-breakpad
SDL2*
libtcod*
flex*.exe
*.vcxproj.user
*.suo
*.sdf
Incursion.opensdf

# Incursion specific temporary files.
lib/dispatch.h
lib/program.i
logs/*.txt
logs/*.html
mod/Incursion.Mod
save/*.sav
save/*.backup
save/*.zip
save/*.7z
save/_testcases
*.dat

# Local nonsense.
_external
INCURSION-RELEASES
modaccent/build
