body
  {
    background-color: #E2CAE0;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

h1
  {
    font-family: 'Verdana', 'Arial', serif;
    color: blue;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
h2
  {
    font-family: 'Verdana', 'Arial', serif;
    color: blue;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
ul
  {
    color: black;
    margin: 0px 0px 0px 2em;
    padding: 0px 0px 0px 0px;
  }

p
  {
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-indent: 2em;
    text-align: justify;
    font-family: 'Goudy Old Style', Georgia, Arial, sans-serif;
  }
